<header class="new-user">
<h1>Please complete the form below to create a user account.</h1>
</header>
<section class='new-user'>
<form action="/users" method="post">
	Email: <input name="email" type="text" value='<%= @user.email %>'><br>
	Name: <input name="name" type="text" value='<%= @user.name %>'><br>
	Username: <input name="username", type="text" value='<%= @user.username %>'><br>
	Password: <input name="password", type="password"><br>
	Confirm Password: <input name="password_confirmation", type="password"><br>
	<input type="submit" value="Sign Me Up!" class='button'>
</form>
</section>