
<header class='new-bant'>
	<h1>Post your new Bant</h1>
</header>
<section class="new-bant">
	<form action='/bants' method='post'>
		<p>
		<input type='text' name='content' placeholder='You are limited to 160 characters...' maxlength='160' class='new-bant'><br>
		</p>
		<input type='submit' value='Post Bant' class='button new-bant'>
		</p>
	</form>
</section>	