<section id="new-bant">
	<h2>Post your new Bant</h2>
	<form action='/bants' method='post'>
		<p>
		<input type='text' name='content' placeholder='You are limited to 160 characters...'>
		</p>
		<input type='submit' value='Post Bant' class='button'>
		</p>
	</form>
</section>	