
	<% @bants.each do |bant| %>
	<article id="bants">
		<p><%= bant[:content] %></p>
		<aside> 
		<p>Length: <%= bant[:length] %> </li></p>
		<p>By: <%= bant[:user] %></li></p>
		<p>Posted on: <%= bant[:date] %></li></p>
		</aside>
	</article>
	<% end %>