<!DOCTYPE html>

<html>

<head>
	<title>Bantanamo Bay - Whiskey and Wings generated Banter</title>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">  
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">  
</head>

<body>
<%= partial :header %>
<section>
	<% if flash[:notice] %>
		<section id='flash notice'>
			<%= flash[:notice] %>
		</section>
	<% end %>
	<% if flash[:errors] && !flash[:errors].empty? %>
	  Sorry, there were the following problem with the form:
	  <ul id='errors'>
	  	<% flash[:errors].each do |error| %>
	  		<li><%= error %></li>
			<% end %>
		</ul>
	<% end %>
	
  <%= yield %>
  </section>
</body>